body {
    margin-top: 65px;
    background-color: #f8f8f8;
    font-family: 'Raleway', sans-serif;
}

.mynavbar {
    background-color: #ffffff;
}

.logo {
    width: auto;
    height: 50px;
    margin-left: 30px;
}

.logo1 {
    width: auto;
}

.socials {
    width: 80%;
    margin-bottom: 5px;
}

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #ffffff;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.main {
    padding: 20px;
    background-color: #ffffff;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

.videos {
    margin-right: 60px;
}

.bow {
    padding: 20px;
    padding-left: 50px;
}

.card {
    padding-top: 10px;
}

.one-card {
    background-color: #ffffff;
}

@charset "UTF-8";
/* CSS Document */



p {
    color:#CCC;
}

.spacing {
    padding-top:7px;
    padding-bottom:7px;
}
.middlePage {
    width: 680px;
    height: 600px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo {
    color:#CCC;
}

.social {
    text-align: center;
    margin-bottom: 5px;
    padding-top: 2%;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 3px;
}

.delete-btn {
    margin-top: 5px;
    margin-left: 5px;
}